{% extends 'base.html' %}

{% block title %}My Page{% endblock %}

{% block body %}

<h1>Todos</h1>
<ul>
  {% for cookie in cookies_pagination.items %}
  <li>
    <a href="/cookies/{{ cookie.id }}">{{ cookie.name }}</a>
  </li>
  {% endfor %}
  <nav>
    {% if cookies_pagination.prev_num %}
    <a href="{{ url_for('cookies.cookies', page=cookies_pagination.prev_num) }}">Previous Page</a>
    {% else %}
    <span>Previous Page</span>
    {% endif %}
    <span> - </span>
    {% if cookies_pagination.next_num %}
    <a href="{{ url_for('cookies.cookies', page=cookies_pagination.next_num) }}">Next Page</a>
    {% else %}
    <span>Next Page</span>
    {% endif %}
    {% ELSE  {
      }
      
      %}
  </nav>
  <!-- <a href="{{url_for('cookies.add_cookie_page')}}">Add Todo</a> -->
  <a href="{{url_for('cookies.add_cookie_page')}}">
    <button class="neobrutalistic-btn">Add Todos</button>
  </a>
</ul>

{% endblock %}