{% extends 'base.html' %}
{% block title %}My Page{% endblock %}

{% block body %}

<div class="heading-wrapper">
    <h1>TRIPLEPRISMA SOFAS</h1>
    <p class="subheading">The most comfortable sofas ever engineered.</p>
</div>
<!-- <a href="/cookies">
    <button class="neobrutalistic-btn">Browse</button>
</a> -->

<div class="collection-heading-wrapper">
    <h2>TRIPLEPRISMA SIGNATURE COLLECTION</h2>
</div>


<div class="grid-container">
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://cdn.midjourney.com/9fe02b3b-60a6-4466-858d-4851c669f858/grid_0.webp" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">ChromaCloud</p>
                <p class="product-price">20000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://cdn.midjourney.com/6e85735c-48df-432e-afc3-c43b83781903/0_3.webp" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">CradleCushion</p>
                <p class="product-price">10000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://cdn.midjourney.com/5bbab171-bad7-474b-ab96-4795aa1eb9a9/0_3.webp" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">FizzFeather</p>
                <p class="product-price">7000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://o.remove.bg/downloads/57a987b9-6c74-406f-983c-a4fbb2b8e09d/leonarddarsow_Most_confortable_sofa_warm_and_cozy_backrest_of_s_2918fc04-4fa0-44f1-8c39-e4310bc2ddaf-removebg-preview.png" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">SoftBench</p>
                <p class="product-price">80000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://cdn.midjourney.com/bcd3f884-1705-4c36-8c62-f4f348aa9b45/0_2.webp" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">LuminaLumbar</p>
                <p class="product-price">25000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://cdn.midjourney.com/0d1e46a4-bdc8-47a4-9f72-ce0dea78e6f5/0_0.webp" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">PrismPalette </p>
                <p class="product-price">13000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
</div>


<div class="collection-heading-wrapper">
    <h2>FLUFFY COLLECTION</h2>
</div>

<div class="grid-container">
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://cdn.discordapp.com/attachments/1067996443920576552/1137915260095959101/leonarddarsow_comfortable_couch_big_fluffy_fur_shades_of_orange_3cfd37ad-f5ba-448f-995a-00bdc700971b.png" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">CushyCocoon</p>
                <p class="product-price">15000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://media.discordapp.net/attachments/1067996443920576552/1137882595808509983/leonarddarsow_comfortable_couch_big_fluffy_fur_shades_of_orange_7e139bdf-b8bc-4f0e-b359-a85712a820dd.png?width=1184&height=1184" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">PlushNest</p>
                <p class="product-price">25000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
</div>



<div class="collection-heading-wrapper">
    <h2>VIRDITY COLLECTION</h2>
</div>

<div class="grid-container">
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://cdn.midjourney.com/5e098377-05aa-46e6-9d2f-7b94514c5772/0_0.webp" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">SerenitySettle</p>
                <p class="product-price">8000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://cdn.midjourney.com/b1ec0162-e1d9-4756-b34a-57c1b16b9c70/0_0.webp" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">DreamDrift Divan</p>
                <p class="product-price">11000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://cdn.midjourney.com/9ef2872e-4a33-4f8b-848b-1c2e41517065/0_2.webp" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">ComfortCylinder</p>
                <p class="product-price">10000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
</div>


<div class="collection-heading-wrapper">
    <h2>WHACKY WINGED WONDERS COLLECTION</h2>
</div>

<div class="grid-container">
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://cdn.midjourney.com/96777033-df43-47d5-9adb-db27e426b747/0_0.webp" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">BeaknBliss Bench</p>
                <p class="product-price">30000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://cdn.midjourney.com/887de3dd-6989-4b05-a1d3-0165ca95ede4/0_0.webp" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">Flamingle</p>
                <p class="product-price">7000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
</div>


<div class="collection-heading-wrapper">
    <h2>THE ANTAGONIST</h2>
</div>

<div class="grid-container">
    <div class="shop-item-card">
        <img class="shop-item-img" src="https://cdn.midjourney.com/cd5a4672-19d3-424c-aa79-572fe5b77152/0_2.webp" alt="">
        <div class="shop-item-text-wrapper">
            <div class="left-div">
                <p class="product-title">FrostOrb</p>
                <p class="product-price">3000€</p>
            </div> 
            <div class="right-div">
                <button class="neobrutalistic-btn icon-button"><img src="" alt="">
                    <img src="https://icon-library.com/images/add-to-cart-icon/add-to-cart-icon-0.jpg" alt="" class="icon">
                </button>
            </div>               
        </div>
    </div>
</div>
{% endblock %}